body { 
  background-color: oldlace;
  width:1800px;
margin: 0 auto;


}


#headerflex { 
  display:flex ;
  justify-content: space-between;
  border-bottom: solid #aa8349 5px;
}

#headerright { 
  display: flex;
  justify-content: flex-end;
  width:800px;
  margin: 0 auto;
}

#headerright ul { 
  display: flex;
  background-color: #aa8349;
  border-radius: 10px;
}
#headerright li {
  list-style: none; 

}
#headerright a { 
  margin-right: 80px;
  color:#ffffff;
  text-decoration:none;
}
#navmenu { 
  margin-right: 40px;
  
}
#headerright a:hover { 
  text-decoration: underline ;
  background-color:#6b583b;
  border-radius: 20px;
}

  
#coffeheader { 
  width:600px;
 margin:0 auto;
  text-align: center;
}


h1 { 
  font-weight: bold;
  font-size:70px;
  letter-spacing: 5px;

}

.menudiv div { 
  width:800px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #aa8349;
  border-radius: 20px;

}
.menudiv img { 
  width: 100%;
 height: 100%;
  border-radius: 20px;
  margin-top:20px;
}
.menudiv p { 
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}